/*HERO SECTION CSS START*/
.container-hero-about-us{
    background-image: url('/wp-content/uploads/2024/05/Frame-1012-copy-scaled.webp');
    background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.about-us-hero-wrapper{
    
}
.about-us-hero-underwrapper{
    padding: 70px 210px;
}
.about-us-hero-underwrapper h1{
    margin: 0px;
    font-family: 'Glegoo';
    font-size: 40px;
    font-weight: bold;
    color: #36641C;
    width: 23rem;
    line-height: 128.5%;
}
/*HERO SECTION CSS END*/



/*OUR MISSION SECTION CSS START*/
.container-our-mission-section{
    background-image: url('/wp-content/uploads/2024/05/Frame-1016-scaled.webp');
    background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.our-mission-section-underwrapper{
    padding: 58px 65px;
}
.data-section-info{
    max-width: 42rem;
    margin-bottom: 60px;
}
.data-section-info h2{
    font-size: 26px;
    font-family: 'Glegoo';
    font-weight: bold;
    color: #0E130B;
}
.data-section-info p{
    font-family: 'Lato';
    font-size: 18px;
    color: #0E130B;
    font-weight: 400;
}
/*OUR MISSION SECTION CSS END*/



/*CORE OF OUR WORK  SECTION CSS START*/
.container-core-of-work-section{
    background: linear-gradient(to top right, #76BA51, #96CB79);
}
.our-work-section-wrapper{
    
    
    
}
.our-work-section-underwrapper{
    padding: 22px 65px 60px 65px;

}
.our-work-section-heading-wrapper h2{
    font-family: 'Glegoo';
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 117%;
    color: white;
   
}
.our-work-section-data-wrapper{
    display: flex;
    gap: 5rem;
    margin-top: 65px;
}
.our-work-data{
    width: 25%;
}
.our-work-data img{
    width: 6rem;
}
.our-work-data h3{
    margin: 0;
    font-family: 'Glegoo';
    font-size: 20px;
    color: white;
    line-height: 24px;
    font-weight: bold;
}
.our-work-data p{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}
.data-section-img{
display: none;
}
.our-work-data-divider{
    display: none;
}
/*CORE OF OUR WORK  SECTION CSS END*/


/*OUR TEAM  SECTION CSS START*/

.container-our-team-section{
    background-color: #F5F5F5;
}
.our-team-section-wrapper{
    background-color: #F5F5F5;
}
.our-team-section-under-wrapper{
    padding: 65px 205px 165px 205px;
}
.our-team-heading-wrapper{
    margin-bottom: 30px;
}
.our-team-heading-wrapper h1{
    margin: 0px;
    font-family: 'Glegoo';
    font-size: 40px;
    color: #0E130B;
    font-weight: 400;
    text-align: center;
}
.team-members-cards{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.single-team-member-card{
    width: calc(32.33% - 15px);
    text-align: center;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    box-shadow: -6px 6px 19px 0px #F9F9F9;
}
.single-team-member-card img{
width: 100%;
border-radius: 8px 8px 0px 0px ;
}
.single-team-member-info{
    padding: 20px 20px;
    text-align: start;
}
.single-team-member-info h3{
    margin: 0px;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
    color: #36641C
}
.single-team-member-info p{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin:14px 0px 0px 0px;
}
#more-team-btn{
    display: none;
}

/*OUR TEAM  SECTION CSS END*/

/* RESPONSIVE CSS START */

/* HERO SECTION RESPONSIVE START */
@media screen and (max-width:767px){
    .container-hero-about-us{
        background-image: url('/wp-content/uploads/2024/06/frame_1012.webp');
    }
    .about-us-hero-underwrapper{
        padding: 20px 10px 296px 10px;
    }
    .about-us-hero-underwrapper h1{
        font-size: 27px;
        width: 100%;
    }

}
/* HERO SECTION RESPONSIVE END */

/* OUR SECTION RESPONSIVE START */
@media screen and (max-width:767px){
    .container-our-mission-section{
        background-image: url('');
    }
    .our-mission-section-underwrapper{
        padding: 0px 10px 0px 10px;

    }
    .data-section-info{
        margin-bottom: 35px;
    }
    .data-section-info h2{
        font-size: 20px;
    }
    .data-section-info p{
        font-size: 17px;
    }
    .data-section-img{
        display: flex;
        margin-top: 50px;
        }
        .data-section-img img{
            width: 100%;
        }
}
/* OUR SECTION RESPONSIVE END */

/* CORE OF OUR WORK RESPONSIVE START */
@media screen and (max-width: 768px) {
    .our-work-section-underwrapper{
        padding: 80px 20px 90px 20px;
    }
    .our-work-section-heading-wrapper h2{
        margin: 0px;
        font-size: 24px;
    }
    .our-work-section-data-wrapper{
        display: flex;
        flex-direction: column;
        gap: 44px;
        align-items: center;
    }
    .our-work-data{
        width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .our-work-data p{
        text-align: center;
    }
    .our-work-data h3{
        text-align: center;
    }
    .our-work-data-divider{
        display: block;
        padding-top:2px ;
        background-color: #5B9356;
        width: 13rem;
    }
    }

/* CORE OF OUR WORK RESPONSIVE END */

/* OUR TEAM SECTION RESPONSIVE START */
@media screen and (max-width: 768px) {
    .our-team-section-under-wrapper{
        padding: 58px 25px 116px 25px;
    }
    .team-members-cards{
        display: flex;
        flex-direction: column;
    }
    .single-team-member-card{
        width: 100%;
        margin-bottom: 24px;
        opacity: 1;
        height: auto;
        transition: opacity 0.5s ease, height 0.5s ease;
        
       
    }
    .single-team-member-card.hidden {
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding: 0; /* Dodatno osiguranje da nema prostora */
    }

    
    .more-team-button-wrapper{
        display: flex;
            text-align: center;
            justify-content: center;
            margin-top: -210px;
      }
      #more-team-btn{
        display: block;
        border: 1px solid black;
            border-radius: 6px;
            padding: 15px 25px;
            background-color: transparent;
            font-family: 'Lato';
            color: black;
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 8px;
      }
     
}
    

/* OUR TEAM SECTION RESPONSIVE END */
/* RESPONSIVE CSS END */