
.contact-us-banner-underwrapper{
    padding: 60px 65px 60px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-us-banner-underwrapper h2{
    font-family: 'Glegoo';
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin: 0px;
}
/* .contact-us-banner-underwrapper span{
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 13px 50px;
}
.contact-us-banner-underwrapper span a{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 500;
    color: #76BA51;
}
.contact-us-banner-underwrapper img{
    width: 22px;
    margin-left: 15px;
} */

.contact-btn {
    font-family: inherit;
    font-size: 20px;
    background: white;
    color: #76BA51;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    padding: 14px 50px;
  }
  
  .contact-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    padding: 0px;
  }
  .contact-btn span {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 500;
    color: #76BA51;
}
  .contact-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
    color: #76BA51;
  }
  
  .contact-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .contact-btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .contact-btn:hover span {
    transform: translateX(15em);
  }
  
  .contact-btn:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  /* RESPONSIVE START*/
  @media screen and (max-width: 768px) {
    .container-banner-section{
      margin: 0px 10px 13px 10px;
      border-radius: 4px;
    }
    .contact-us-banner-underwrapper{
      padding: 0px;
      display: flex;
      flex-direction: column;
      padding: 26px 13px 35px 13px;
      gap: 95px;
    }
    .contact-us-banner-underwrapper h2{
      line-height: 117%;
      font-size: 39px;
    }
    .contact-btn{
      padding: 14px 73px;
    }
  }
  /* RESPONSIVE END */