.site-footer{
    
    
    
}
.container-footer{
    background-color: #0E130B;
}
.footer-logo-section{
    background-color: #0E130B;
    padding: 30px 110px 0px 110px;
}
.footer-navi-section{
    background-color: #0E130B;
    padding: 30px 110px 0px 110px;
}
.footer-logo-section img{
    max-width: 290px;
}
.footer-logo-section div{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.footer-navi-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.footer-navi-section h2{
    font-family: 'Glegoo';
    color: white;
    opacity: 40%;
    font-weight: 400;
}
.footer-navi-section ul li{
    list-style-type: none;
    margin-bottom: 15px;
}
.footer-navi-section ul{
    padding: 0px;
}
.footer-navi-section ul li a{
font-family: 'Lato';
font-weight: 400;
color: white;
}
.footer-navi-section ul li a:hover{
    color: #76BA51;
}
.footer-navi-section ul li p{
    font-family: 'Lato';
    font-weight: 400;
    color: white;
    }
    .footer-navi-section ul li p a{
        font-family: 'Lato';
        font-weight: 400;
        color: white;
        }
.horizontal-line-footer{
    padding-top: 1px;
    background-color: white;
    opacity: 40%;
}
.social-icon-ul{
    display: flex;
   
}
.social-icon-ul img{
    max-width: 30px;
    padding-right:15px;
}
.tel-number:hover{
    color: #76BA51;
}
.footer-white-section{
    padding: 0px 65px 0px 65px;
    background-color: white;
  
}
.footer-white-section p{
    font-family: 'Glegoo';
    font-weight: 400;
    color: #0E130B;
    font-size: 12px;
    padding: 7px 0px 7px 0px;
    margin: 0px;

}
.footer-divider{
    padding-left: 2px;
    background: linear-gradient(to bottom, #0E130B 0%, #739A5B 53%, #0E130B 100%);
    height: 209px;
    margin-top: 35px;
}


/* RESPONSIVE START */
@media screen and (max-width:767px) {
    .footer-navi-section{
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-navi-section div{
    
    text-align: center;
    }
    .footer-navi-section div ul{
        text-align: center;
    }
    .social-icon-ul{
        display: flex;
        justify-content: center;
    }
    .horizontal-line-footer{
        margin: auto;
        width: 115px;
    }
    .footer-divider{
        background: linear-gradient(to right, #0E130B 0%, #739A5B 53%, #0E130B 100%);
    height: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    }
}
/* RESPONSIVE END */