.container-14{
    max-width: 1440px;
    margin: auto;
}
/* BUTTON TYPE 1 CSS START */
.button-type-1{
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 transition: .3s;
 z-index: 1;
}
.button-type-1:before{
content: '';
 width: 0;
 height: 315%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #0E130B;
 transition: .5s ease;
 display: block;
 z-index: -1;
}
.button-type-1:hover:before{
    width: 105%;
}
.button-type-1:hover{
    color: white;
}
.button-type-1:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }
/* BUTTON TYPE 1 CSS END */


/* BUTTON TYPE 2 CSS START */
.button-type-2{
 position: relative;
 overflow: hidden;
 text-align: center;
 transition: .3s;
 z-index: 1;

}
.button-type-2:before{
content: '';
 width: 0;
 height: 690%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: white;
 transition: .5s ease;
 display: block;
 z-index: -1;
}
.button-type-2:hover:before{
    width: 105%;
}
.button-type-2:hover{
    color:#76BA51;
    border-color: #76BA51;
}

.button-type-2:hover a{
    color:#76BA51 ;
}
.button-type-2:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }
  
/* BUTTON TYPE 2 CSS END */

/*  BUTTON TYPE 2 CSS START */
.button-type-3{
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: .3s;
    z-index: 1;
   
   }
   .button-type-3:before{
   content: '';
    width: 0;
    height: 660%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #6D6D6D;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   .button-type-3:hover:before{
       width: 105%;
   }
   .button-type-3:hover{
       color:white;
       
   }
   .button-type-3:hover a{
       color:white ;
   }
   .button-type-3:active {
       transform: translate(5px,5px);
       transition-duration: .3s;
     }
/* BUTTON TYPE 2 CSS END */


/* JUST CLICK STYLE START*/
.just-click:active{
    transform: translate(5px,5px);
    transition-duration: .3s;
}
/* JUST CLICK STYLE END*/

/* STICY BACK TO TOP BUTTON CSS START */
.sticky-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    position: fixed;
    top: 80%;
    left: 95%;
    border-radius: 50px;
}
.sticky-button-wrapper button{
    background-color: #5B8E3F;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    cursor: pointer;
    box-shadow: 0px 4px 10px 0px #EAEDB8;
}
.sticky-button-wrapper button img{
    height: 1.5rem;
}
/* STICY BACK TO TOP BUTTON CSS END */


/* BANNER KOJI IZADJE AKO NE POPUNIMO SVA POLJA U FORMI I ISPISUJE PORUKU START */
.frm_error_style{
    display: none!important;
}
/* BANNER KOJI IZADJE AKO NE POPUNIMO SVA POLJA U FORMI I ISPISUJE PORUKU END */

.section-divider{
    display: none;
}
textarea{
    resize: none;
}
.no-scroll{
    overflow: hidden;
}
.frm_message{
    font-family: 'Glegoo';
    text-align: center;
}
.ui-datepicker .ui-datepicker-prev:before {content: '\2193'!important;}
.ui-datepicker .ui-datepicker-next:before {content: '\2191'!important;}
@media screen and (max-width:2440px){
.container-14{
        max-width:1920px;
    }

}
@media screen and (max-width:1920px){
    .container-14{
            max-width:1600px;
        }
    
    }

    @media screen and (max-width:1600px){
        .container-14{
                max-width:1440px;
            }
        
        }

        @media screen and (max-width:767px){
            .sticky-button-wrapper{
                display: none;
            }
            .section-divider{
                display: block;
                background-color: #58724A;
                padding: 1px;
            }
            .section-divider img{
                position: absolute;
    left: 50%;
    margin-top: -5px;
    width: 10px;
            }
        }