header{
    
}
/* .header-wrapper{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 15px 0px 15px 0px;
} */
.container-header{
    background-color: #F5F5F5; 
}
.header-wrapper{
    background-color: #F5F5F5;
}
.header-under-wrapper{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 15px 0px 15px 0px;
    margin: 0px 65px 0px 65px;
}
#menu-menu-1{
    display: flex;
    padding: 0px;
}
#menu-menu-1 li a{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    color: #0E130B;
    
}
#menu-menu-1 li a:hover{
    color: #76BA51;
}
#menu-menu-1 > li:nth-child(-n+4){
   margin-right: 30px;
}
#menu-menu-1 > li:first-child {
    list-style-type: none;
  }
.header-logo img{
    width: 232px;
}
.shop-button{
    border-radius: 4px;
    border: 1px solid #0E130B;
    padding: 8px 30px 8px 30px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    color: #0E130B;
    margin-right: 25px;
    background-color: white;
} 
.contact-button{
    border-radius: 4px;
    background-color: #76BA51;
    padding: 8px 30px 8px 30px;
    border: solid 1px white;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    color: white;
    box-shadow: -10px 6px 20px 3px #D9E1D6;

} 
.horizontal-line{
    background-color: #B4C9A8;
    padding-top: 1px;
    margin: 0px 65px 0px 65px;
}
.mobile-heahder-wrapper{
    display: none;
}
.under-menu-wrapper{
    display: none;
}


/* HEADER RESPONSIVE START */
@media screen and (max-width:767px){
    .container-header{
        display: none;
    }
    .mobile-heahder-wrapper{
        display: block;
    }
    .under-menu-wrapper{
        display: block;
    }
}
.mobile-heahder-wrapper{
    padding: 15px 10px;
    border-bottom: 1px solid #5B9356;
}
.hamburger-wrapper{
    display: flex;
    align-items: center;
}

.header-items-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-logo{
width: 9.5rem;
}
.btn-and-hamburger{
    display: flex;
    gap: 20px;
    align-items: center;
}
.hamburger-icon{
    width: 2rem;
}
.under-menu-wrapper{
    height: 100svh;
    z-index: 1111;
    position: absolute;
    width: 100%;
    background-color: white;
    top: -220%;
}
#under-wrapper {
    transition: top 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.header-contact-button a{
    background-color: #76BA51;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Lato';
}
.close-btn-logo{
    display: flex;
    justify-content: space-between;
    padding: 17px 10px ;
    align-items: center;
    
}
.close-btn-logo button{
    border: none;
    background-color: #0E130B;
    opacity: 50%;
    display: flex;
    align-items: center;
    padding: 6px 8px;
    border-radius: 4px;
}
.close-btn-logo button img{
width: 1rem;
}
.menu-mobile-menu-container{
    padding: 0px 10px 0px 10px;
    
}
.dropdown-logo{
    width: 14rem;
}
#menu-mobile-menu{
    list-style-type: none;
    padding: 0px;
}
#menu-mobile-menu li{
    border-bottom: solid 2px #336B15;
    padding-bottom: 20px;
    padding-top: 20px;
}
#menu-mobile-menu li a{
    font-family: 'Lato';
    color: #0E130B;
    font-size: 22px;
    line-height: 128.5%;
}
#menu-mobile-menu li:nth-last-child(-n+2) a {
    color: #76BA51;
    font-weight: bold;
}
.shop-image-mob{
    background-image: url('/wp-content/uploads/2024/06/beauty_salon_with_reception_make_up_centre_and_ma_2023_11_27_04_50_19_utc_2x.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
}
.shop-image-mob2{
    background-image: url('/wp-content/uploads/2024/06/second.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
}
.shop-wrapper-mob{
    background-color: #76BA51;
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;

}
.shop-wrapper-mob p{
    margin: 0px;
    font-family: 'Glegoo';
    color: white;
    font-size: 18px;
    line-height: 117%;
}
.book-now-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.book-now-menu{
    border: none;
    border-radius: 4px;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #76BA51;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    #under-wrapper{
        z-index: 9999;
    }
}

@media screen and (max-height:740px){
    
    #menu-mobile-menu li{
    padding-bottom: 15px;
    padding-top: 15px;
    }
    .shop-image-mob{
        padding-top: 70px;
    }
    #menu-mobile-menu li a{
        font-size: 20px;
    line-height: 121.5%;
    } 
}
@media screen and (max-height:667px){
    #menu-mobile-menu li{
    padding-bottom: 14px;
    padding-top: 14px;
    }
    .shop-image-mob{
        padding-top: 55px;
    }
    #menu-mobile-menu li a{
        font-size: 17px;
    line-height: 117.5%;
    } 
    .shop-wrapper-mob p{
        font-size: 15px;
    }
}

/* HEADER RESPONSIVE END */

