.hero-banner-wrapper{
    background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  
}
.overlay{
    background-color: rgba(118, 186, 81, 0.7);
    display: flex;
    justify-content: center;
    padding: 130px 0px 42px 0px;
}
.overlay h1{
    margin: 0px;
    font-family: 'Glegoo';
    font-size: 46px;
    font-weight: 400;
    color: white;
    font-weight: bold;

}