.impressum-container{
    background-color: #36641C;
}
.impressum-container-wrapper h1{
    text-align: center;
    margin: 0px;
    padding: 30px 0px 30px 0px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 45px;
    color: white;
}
.impresum-content-underwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.impresum-heading h2{
    font-family: 'Lato';
    font-size: 35px;
    font-weight: 700;
}
.impressum-content p{
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 400; 
    text-align: center;
}
.impressum-content a{
    color: #36641C;
}