/*WELCOME INFO SECTION START*/
.container-welcome-section{
    background-color: #F5F5F5;
}
.welcome-info-section-wrapper{
    background-color: #F5F5F5;
}
.welcome-info-section-underwrapper{
    padding: 62px 133px 62px 133px;
}
.welcome-info-section-underwrapper h2{
    font-family: 'Glegoo';
    font-size: 26px;
    font-weight: 400;
    color: #0E130B;
    margin: 0px 0px 35px 0px;
}
.welcome-info-section-underwrapper p{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #0E130B!important;
    margin: 0px;
    max-width: 45rem;
}
.welcome-info-section-underwrapper > :nth-child(2) {
    margin-bottom: 15px;
}
/*WELCOME INFO SECTION END*/

/*POSITION TO APPLY SECTION START*/
.container-apply-section{
    background-color: #F5F5F5;
}
.position-apply-section-wrapper{
    background-color: #F5F5F5;
    padding-bottom: 130px;
}
.postition-applay-section-underwrapper{
    margin: 0px 133px 0px 133px;
    box-shadow: -8px 11px 13px 0px #e9ebe9;
}
.position-apply-cards-wrapper{
    display: flex;
}
.single-position-appy-card{
    background-color: white;
    padding: 35px 60px 35px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    
}
.apply-card-text-button{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}
.single-position-appy-card h2{
     margin: 0px 0px 10px 0px; 
    font-family: 'Glegoo';
    font-size: 18px;
    color: #42464E;
    font-weight: bold;
    line-height: 24px;

}
.apply-card-text-button p{
    margin: 0px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    color: #474747;
    margin-bottom: 25px;
    
 
    
}
.apply-card-text-button button{
    background-color: #36641C;
    border: none;
    border-radius: 4px;
    padding: 8px 26px;
    color: white;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    max-width: 9rem;
    margin-top: auto;
    box-shadow: -5px 4px 10px 0px #c6dbba;
    cursor: pointer;
   
    
}
.single-position-appy-card button img{
    margin-left: 6px;
    width: 13px;

}
.position-apply-cards-wrapper > :nth-child(n+2) {
    border-left: 1px solid #E6E6E6; 
  }

  .position-apply-cards-wrapper > :nth-child(1) .apply-card-text-button p,
  .position-apply-cards-wrapper > :nth-child(2) .apply-card-text-button p,
  .position-apply-cards-wrapper > :nth-child(4) .apply-card-text-button p {
    margin-top: 27px;
  }

  .job-form-example{
    display: none;
  }
/*POSITION TO APPLY SECTION END*/


/*MODAL CSS START*/

.modal-wrapper {
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 9999; 
    backdrop-filter: blur(10px);
    background-color: rgba(223, 223, 223, 0.5);
    
   
}
.modal-underwrapper{
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-main {
    background-color: white; 
    padding: 20px; 
    border-radius: 12px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 30rem;
    border: solid 2px #36641C;
  
}
.modal-main h2{
    margin: 0px;
    font-family: 'Glegoo';
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}
.exit-icon-wrapper{
    display: flex;
    justify-content: flex-end;
    
}
.exit-icon-wrapper img{
    max-width: 1.5rem;
    cursor: pointer;
}
.job-application-form-wrapper{
    margin-top: 50px;
}
.job-offer-form input{
    border: none!important;
    border-bottom: solid 2px!important;
    border-radius: 0px!important;
    border-color: #36641C!important;
    font-family: 'Lato'!important;
    font-size: 14px!important;
    color: #6E716D !important;
    padding: 0px !important;
}
.job-offer-form input::placeholder{
    font-family: 'Lato'!important;
    font-size: 14px!important;
    font-weight: bold!important;
    color: #0E130B!important;
}
.job-offer-form textarea{
    border: none!important;
    border-bottom: solid 2px!important;
    border-radius: 0px!important;
    border-color: #36641C!important;
    font-family: 'Lato'!important;
    font-size: 14px!important;
    color: #6E716D !important;
    padding-left: 5px!important;
}
.job-offer-form textarea::placeholder{
    font-family: 'Lato'!important;
    font-size: 14px!important;
    font-weight: bold!important;
    color: #0E130B!important;
}
.job-offer-form select{
    border: none!important;
    border-bottom: solid 2px!important;
    border-radius: 0px!important;
    border-color: #36641C!important;
    font-family: 'Lato'!important;
    font-size: 14px!important;
    font-weight: bold!important;
    color: #0E130B!important;
    padding-left: 5px!important;
}
.job-offer-form label{
    display: none!important;
}
#frm_field_31_container div{
margin-bottom: 30px;
}
.dz-message{
    display: flex!important;
    flex-direction: row-reverse!important;
    justify-content: flex-end!important;
    border: 1px solid #36641C!important;
    align-items: center!important;
    padding: 0px 13px 0px 13px!important;
    width: 10rem!important;
}
.frmsvg{
    color: #36641C!important;
    width: 1rem!important;

}
.frm_upload_text{
    margin-right: 3px!important;
}
.dz-message button{
    font-size: 14px!important;
    font-family: 'Lato'!important;
    color: #36641C!important;
    font-weight: bold!important;
}
.frm_small_text{
    display: none!important;
}
.form-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 0px!important;
}
.form-buttons > :first-child{
    background-color: #36641C;
    border: none;
    color: white;
    padding: 13px 42px;
    border-radius: 6px;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    width: 19rem;
}
.form-buttons > :last-child{
    width: 9rem;
    border-radius: 6px;
    border: 2px solid #36641C;
    color: #36641C;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#frm_field_31_container{
    margin-bottom: 0px!important;
}
#frm_field_27_container{
    display: none!important;
}
.frm_other_input {
    display: none!important;
}
#field_q6vyw,#field_2twzk,#field_5c3iy,#field_ip1it{
    display: none!important;
}
/*MODAL CSS END*/



/* RESPONSIVE CSS START */

/* WELCOME SECTION RESPONSIVE START */
@media screen and (max-width:767px){
    .welcome-info-section-underwrapper{
        padding: 37px 10px 65px 10px;
    }
    .welcome-info-section-underwrapper h2{
        font-size: 20px;
        margin: 0px 0px 25px 0px;
    }
    .welcome-info-section-underwrapper p{
        color: black;
    }
}
/* WELCOME SECTION RESPONSIVE END */

/* POSTION TO APPLY RESPONSIVE START */
@media screen and (max-width:767px){
    .position-apply-section-wrapper{
        background-color: white;
        padding-bottom: 70px;
    }
    .postition-applay-section-underwrapper{
        margin: 0px;
        box-shadow: none;
        padding: 55px 30px 55px 30px;
    }
    .position-apply-cards-wrapper{
        display: flex;
        flex-direction: column;
        
        gap: 4px;
    }
    .single-position-appy-card{
        box-shadow: -1px 12px 13px 0px #e9ebe9;
        padding: 35px 20px 35px 20px;
        border-radius: 4px;

    }  
    .position-apply-cards-wrapper > :nth-child(n+2){
        border: none;
    }
    .single-position-appy-card h2{
        text-align: center;
    }
    .apply-card-text-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .apply-card-text-button p{
        text-align: center;
    }
}

/* POSTION TO APPLY RESPONSIVE END */

/* MODAL RESPONSIVE START */
@media screen and (max-width: 768px) {
.modal-main{
    width: 100%;
    margin: 0px 10px 0px 10px;
}
.frm_dropzone.frm_single_upload{
    max-width: 100%!important;
}
 .needsclick{
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}
#frm_field_31_container .form-buttons{
    gap: 20px;
}
.form-buttons{
    gap: 20px;
}
.form-buttons > :first-child{
    width: 11rem;
}

}
/* MODAL RESPONSIVE END */

/* RESPONSIVE CSS END */