.container-search-and-category{
  background-color: #F5F5F5;
}
.shop-category-section-wrapper{
    padding: 35px 65px;
    background-color: #F5F5F5;
}
.shop-category-section-underwrapper{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 30px 60px 30px 15px;
    border-radius: 10px;
}
.search-div h1{
    margin: 0px;
    font-family: 'Glegoo';
    font-size: 40px;
    font-weight: 400;
    color: #0E130B;
}
/*CATEGORY LIST CSS START*/
.category-list{
    display: flex;
    gap:36px;
    list-style-type: none;
}
.category-item:hover img {
  transform: scale(1.1); 
}
.category-item img {
  transition: transform 0.3s ease; 
}

.category-list > li:first-child{
    display: none;
}
.category-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 7.5rem;
}
.category-item a{
    font-family: 'Glegoo';
    font-size: 16px;
    font-weight: 400;
    color: #36641C;
    text-align: center;
}
.category-image-wrapper{
    background-color: #EAEDE9;
    padding: 17px;
    width: 59px;
    height: 59px;
    border-radius: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-image-wrapper img{
    width: 4rem;
}
.current-category{
background-color: #76BA51;
}
.current-category img{
  filter: brightness(0) invert(1);
}
/*CATEGORY LIST CSS END*/


/*SEARCH BAR CSS START*/
.product-search-bar{
margin-top: 40px;
}
.product-search-bar form{
    background-color: black;
    padding: 10px 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.product-search-bar input{
    background-color: black;
    border: none;
    color: white;
}
.product-search-bar input:focus {
    outline: none;
}
.search-result-item__content{
  flex-direction: column!important;
}
.search-result-item__summary{
display: none !important;
}
.search-result-item__name {
  text-align: center!important;
  font-family: 'Glegoo'!important;
}
.wp-block-button__link{
  background-color: #36641C!important;
  border: none !important;
  font-family: 'Glegoo';
}
.search-result-item__thumbnail {
  text-align: center!important;
}
.search-result-item__thumbnail img{
  width:80px !important;
}
.ywcas-input-field input{
  font-family: 'Lato'!important;
}
.css-1b3m40g{
font-family: 'Glegoo'!important;
}
.search-result-item__price,.css-13o7eu2{
  display: none!important;
}
.product-search-bar input::placeholder{
    color: white;
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 400;

}
.product-search-bar button{
    background-color: black;
    border: none;
    cursor: pointer;
}
.product-search-bar button img{
    width: 1rem;
}
.wp-block-yith-search-block .ywcas-classic-search.ywcas-small input{
  text-align: center;
  padding: 5px 0px 5px 0px!important;
  margin-left: -15px!important;
}
/*SEARCH BAR CSS END */

/*FILTER AND PRODUCT SECTION START*/
.container-filter-and-product{
  background-color: #F5F5F5;
}
.filter-and-product-section-wrapper{
    padding: 0px 65px 100px 65px;
    background-color: #F5F5F5;
}

.filter-and-product-section-underwrapper{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.filter-section{
    width: 15rem;
}
.woocommerce-result-count{
    display: none!important;
}

.bapf_head{
    background-color: #E2E6E0;
    display: flex;
    margin-bottom: 15px;
    height: 37px;
    border-radius: 5px;
}
.bapf_head i img{
    width: 2.1rem;
    margin-right: 20px;
    border-radius: 5px 0px 0px 5px;

}
.bapf_head h3{
    margin: 0px;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 600;
    color: #36641C;
}
.bapf_head h3 i {
    vertical-align: middle; 
  }
.bapf_body ul li{
    border-bottom: 2px solid #EEEE;
    display: flex;
    align-items: center;
}
.bapf_body ul li:before {
    content: "+";
    margin-right: 15px; 
    font-size: 26px;
    font-weight: bold;
  }
  
  .bapf_body ul li.checked:before {
    content: "-";
    margin-right: 15px; 
    font-size: 26px;
    font-weight: bold;
  }
.bapf_body li label {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.bapf_body ul li img{
    width: 11px;
    margin-left: 15px;
    margin-right: 15px;
}
.bapf_body ul li i{
    margin-bottom: 10px;
    margin-top: 10px;
}
.bapf_body select{
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    color: #AAAAAA;
    font-family: 'Lato';
    font-weight: 400;
}
.woocommerce-ordering select{
    border: none;
    padding: 2px;
    color: #555555;
    font-family: 'Lato';
    font-size: 12px;
}
.rotated-icon {
    transform: rotate(180deg);
  }

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .products li {
    list-style: none;
    text-align: center;
    border: none;
    background-color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    
  }
  .products li:hover{
    box-shadow: -6px 9px 20px 0px #42464E;
    transform: translateY(-5px);
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    width: 100%;
  }
  .products.columns-4:before{
    display: none!important;
  }
  .woocommerce-loop-product__title{
    font-family: 'Glegoo';
    font-size: 18px;
    font-weight: 400;
    color: #0E130B;
  }
  .woocommerce ul.products li.product .button{
    color:#36641C!important ;
  }
  .product_type_simple{
    background-color: white!important;
    float: right;
    font-family: 'Lato'!important;
    font-size: 14px!important;
    font-weight: 400!important;
    text-decoration: underline!important;
    color: #76BA51!important;
  }

  .woocommerce nav.woocommerce-pagination ul{
    background-color: white;
    border: none;
    border-radius: 26px;
    padding: 16px 30px;
  }
  .page-numbers li{
    border: none!important;
    font-family: 'Lato';
    font-size: 14px;
    color: #656565;
  }
  .page-numbers.current{
    background-color: black!important;
    font-family: 'Lato'!important;
    font-size: 14px!important;
    color: white!important;
  }
  .woocommerce nav.woocommerce-pagination ul li a.prev {
    background-image: url('/wp-content/uploads/2024/06/vector222.webp'); /* Path to your custom left arrow image */
    background-size: 8px 16px;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

.woocommerce nav.woocommerce-pagination ul li a.next {
    background-image: url('/wp-content/uploads/2024/06/vector22.webp'); /* Path to your custom right arrow image */
    background-size: 8px 16px;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}


/*ajax search css*/
  .css-18xzoxd .ywcas-input-field-wrapper{
    border-radius: 4px!important;
background-color: white!important;

  }
  .css-18xzoxd .ywcas-input-field-wrapper input{
    font-family: 'Lato'!important;
    
    
  }
  .css-11wb0l9 .ywcas-input-field-wrapper{
    border-radius: 4px!important;
  }
  .wp-block-yith-search-block .ywcas-classic-search.ywcas-small input{
    background-color: #0E130B!important;
    border-radius: 4px!important;
  }
  .wp-block-yith-search-block .ywcas-classic-search .ywcas-input-field-wrapper .ywcas-submit-wrapper{
    margin-top: 4px;

    margin-right: 5px!important;
    margin-left: 5px!important;
  }
  .css-7ga5q0{
    background-color: #0E130B!important;
    height: 100%!important;
    margin-left:3px!important;
    border-radius: 4px!important;
  }
  .more-filter-button-wrapper{
    display: none;
  }
/*FILTER AND PRODUCT SECTION END*/

/* PAGINATION CSS START */
.woocommerce nav.woocommerce-pagination ul li a:hover{
  background-color: transparent !important;
}
/* PAGINATION CSS END */

/* RESPONSIVE CSS START */

/* CATEGORY AND SEARCH RESPONSIVE START */
@media screen and (max-width: 768px) {
  .shop-category-section-wrapper{
    padding: 0px;
  }
  .shop-category-section-underwrapper{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 24px 10px;
    background-color: #F5F5F5;
    }
    
    .category-list{
      padding: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 36px;
    }
    .category-item{
      max-width: 5.5rem;
    }
    .category-item a{
      text-align: center;
    }
    .search-div{
      background-color: white;
      padding: 10px 46px 22px 46px;
      border-radius: 10px;
    }
    .search-div h1{
      font-size: 28px;
      text-align: center;
    }
    .product-search-bar {
      margin-top: 20px;
    }
    .category-image-wrapper img{
      width: 3rem;
    }
   
}
/* CATEGORY AND SEARCH RESPONSIVE END */


/* FILTER AND PRODUCTS RESPONSIVE START */
@media screen and (max-width:767px) {
  
  .filter-and-product-section-wrapper{
    padding: 0px;
  }
  .filter-and-product-section-underwrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .filter-section{
    width: 100%;
  }
  .filter-and-product-section-underwrapper{
    padding: 0px 20px 0px 20px;
  }
  .more-filter-button-wrapper{
    display: flex;
        text-align: center;
        justify-content: center;
  }
  #more-filters-btn{
    border: 1px solid #76BA51;
        border-radius: 6px;
        padding: 15px 25px;
        background-color: transparent;
        font-family: 'Lato';
        color: #76BA51;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
  }
  .product-section{
    padding-bottom: 126px;
  }
  .products li:hover{
    box-shadow: none;
    transform: translateY(-5px);
  }
  
  #filterss{
    display: none;
  }
  .woocommerce-ordering{
    display: none;
  }
  .woocommerce-ordering{
    display: none ;
  }
  .products{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .products li{
    width: 100%!important;
    
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    margin: 0px!important;
  }
}
/* FILTER AND PRODUCTS RESPONSIVE END */


/* RESPONSIVE CSS END */