/*OSTALI STIL UZIMA OD FORME NA POCETNOJ STRANI TAKO DA SE OSTALI CSS NALAZI U FAJLU HOMEPAGE.CSS*/

.choose-service-single {
    color: #444444!important;
    background-color: #ffffff;
    border-color: rgba(118, 186, 81, 1);
    border-width: 2px!important;
    border-style: solid;
    font-family: 'Lato'!important;
    font-size: 15px!important;
    font-weight: 700!important;
    margin-bottom: 20px!important;
}
.choose-time{
    font-family: 'Lato'!important;
    font-weight: 600!important;
    font-size: 16px!important;
    color: #76BA51!important;
    border: 2px solid #76BA51!important;
    height: 39px!important;
}

.post-form{
    width: 29rem;

}
.post-form-wrapper{
    padding: 35px 45px 0px 45px;
    background-color: white;
    box-shadow: -20px 24px 46px -20px #EDEEEC;
}
.post-form-title{
    font-family: 'Glegoo';
    margin: 0px;
    font-size: 26px;
    font-weight: 400;
    color: #0E130B;
    text-align: center;
    margin-bottom: 47px;
    
}
#frm_field_60_container{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
#frm_field_59_container{
    width: 165px!important;
}
#frm_field_61_container{
    width: 165px!important;
}