/*TEXT AND FORM SECTION CSS START*/
.container-text-and-form-section{
    background-color: #F5F5F5;
}
.text-form-section-wrapper{
    background-color: #F5F5F5;
}

.text-form-section-underwrapper{
    padding: 38px 65px 90px 65px;
    display: flex;
    justify-content: space-between;
}
.paralel-fileds-wrapper{
    display: flex;
    justify-content: space-between;
}
.paralel-fileds-wrapper img{
    height: 12px;
    margin-top: 12px;
    width: 2px;
}
#frm_field_59_container #field_5hgrh{
    border: 2px solid #76BA51!important;
    border-radius: 5px!important;
    padding:7px 7px 7px 7px!important;
    text-align: center;
}
#frm_field_59_container #field_5hgrh::placeholder{
    color: #76BA51!important;
}
#frm_field_61_container #field_gatyk{
    border: 2px solid #76BA51!important;
    border-radius: 5px!important;
    border-radius: 5px !important;
    padding: 5px 7px 6px 7px !important;
    text-align: center;
}


.post-text{
    width: 50%;
}
.service-section-wrapper{
    margin-bottom: 60px;
}

.services-section-title h2{
    font-family: 'Glegoo';
    font-size: 26px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}
.services-section-subtitle h3{
    font-family: 'Glegoo';
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}
.services-section-description p{
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    line-height: 128%;
    margin-bottom: 40px;
}
.services-section-image img{
    max-width: 740px;
}
.no-info-message{
    font-family: 'Glegoo';
    font-size: 20px;
}
/*TEXT AND FORM SECTION CSS START*/



/*RELATED SERVICES SECTION CSS START*/
.related-services-section-wrapper{
    padding: 50px 65px 70px 65px;
}
.related-services-section-wrapper h2{
    font-family: 'Glegoo';
    font-size: 36px;
    font-weight: 400;
    color: #0E130B;
    margin:0px;
}
.related-services-section-wrapper p{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #6D6D6D;
    max-width: 43rem;
    margin: 20px 0px 40px 0px;
}
.related-services-cards-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.related-single-service-card{
    width: calc(32.33% - 15px);
    text-align: center;
    background-color: #F3F3F3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 33.5rem;
    margin-bottom: 40px;
    overflow: hidden;
    cursor: pointer;
}
.related-single-service-card img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    transition: transform 0.3s ease;
}
.related-single-service-card:hover img {
    transform: scale(1.1); 
    
}
.related-service-card-info{
    padding: 20px 15px 10px 15px;
    flex-grow: 1; /* Ovo će omogućiti rast kontejnera .service-card-info kako bi zauzeo preostali vertikalni prostor */
    display: flex;
    flex-direction: column;
}
.related-service-card-info h2{
    padding-bottom: 12px;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 500;
    color: #0E130B;
    text-align: start;
}
.related-service-card-info p{
    padding-bottom: 30px;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #0E130B;
    text-align: start;
}
.related-service-button{
    text-align: end;
    padding: 0px;
    margin-top: auto;
}
.related-service-button a{
    font-family: 'Lato';
    font-size: 14px;
    text-decoration: underline;
    color: #76BA51;
}
/*RELATED SERVICES SECTION CSS END*/

/* RESPONSIVE CSS START*/
    @media screen and (max-width: 768px) {
        .overlay{
            padding: 143px 20px 20px 20px;
        }
        .overlay h1{
            font-size: 28px;
        }
        .text-form-section-underwrapper{
            padding: 0px;
            display: flex;
            flex-direction: column;
        }
        .post-text{
            width: 100%;
        }
        .services-section-image img{
            max-width: 100%;
        }
        .text-form-section-wrapper{
            padding: 37px 10px 0px 10px;
        }
        .services-section-title h2{
            font-size: 19px;
            line-height: 117%;
        }
        .services-section-subtitle h3{
            font-size: 17px;
            line-height: 117%;
        }
        .services-section-description p{
            font-size: 16px;
        }
        .container-text-and-form-section .post-form-wrapper{
            padding: 0px;
            border-radius: 12px;
            border: 1px solid #76BA51;
            padding: 35px 15px 0px 15px;
        }
        .frm_fields_container{
            display: flex;
            flex-direction: column;
        }
        .text-form-section-underwrapper .post-form{
            width: 100%;
        }
        .text-form-section-underwrapper #frm_field_60_container{
            display: none!important;
        }
        .text-form-section-underwrapper .post-form-title{
            font-size: 20px;
        }
        .text-form-section-underwrapper #frm_field_19_container{
            display: none;
        }
        #frm_field_59_container #field_5hgrh{
            padding-top: 0px;
        }
        
        
    }

    /* RELATED SERVICE RESPONSIVE START */
    @media screen and (max-width:767px){
        .container0related-services-section{
            margin-top: 78px;
        }
        .related-services-section-wrapper{
            padding: 0px;
        }
        .related-services-cards-wrapper{
            display: flex;
            flex-direction: column;
            padding: 54px 10px 85px 10px;
        }
        .related-single-service-card{
            width: 100%;
            height: 100%;
            margin: 0px;
        }
        .paralel-fileds-wrapper p{
            display: none;
        }
        .paralel-fileds-wrapper img{
            display: none;
        }
    }
    /* RELATED SERVICE RESPONSIVE END */
/* RESPONSIVE CSS END */