/*PRODUCT WRAPPER CSS START*/
.single-product-wrapper{
    display: flex;
    padding: 45px 65px 65px 65px;
    gap: 70px;
}
/*PRODUCT WRAPPER CSS START*/

/*PRODUCT GALERY CSS START*/
.product-gallery{
    background-color: #F6F7FB;
    border-radius: 10px;
    padding: 0px 18px 0px 18px;
}
.woo-product-gallery-slider{
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.slick-initialized {
    flex: 1; /* Rastegnuti element da zauzme preostali prostor */
}
.wpgs-nav.slick-initialized.slick-slider{
    display: flex!important;
    align-items: flex-end;
    padding-bottom: 5px;
}
.zoomtoo-container{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.wpgs-nav .slick-slide{
    border-radius: 10px;
}
.draggable{
    width: 100%;
}
.draggable .slick-slide {
    width: 116px!important;
    display: flex!important;
    justify-content: center;
}
.draggable .slick-track{
    width: 100%;
}
/* @media screen and (max-width:2440px){
    .slick-list.draggable{
        margin-top: 50px;
    }
}
@media screen and (max-width:1440px){
    .slick-list.draggable{
        margin-top: 70px;
    }
} */

/*PRODUCT GALERY CSS END*/

/*PRODUCT  INFO CSS START*/
.product-info{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 50px;
    width: -webkit-fill-available;

}
.product-info h1{
    font-family: 'Glegoo';
    font-size: 40px;
    font-weight: 400;
    line-height: 128%;
    color: black;
    margin: 0px;
}
.product-info button{
    
    width: 13rem;
    background-color: #76BA51;
    border: none;
    border-radius: 4px;
    padding: 10px 26px;
    color: white;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -7px 7px 12px 1px #E1E8DF;
    cursor: pointer;
}
.product-description{
    font-family: 'Lato';
    font-size: 16px;
    color: #6D6D6D;
    line-height: 128%;
    font-weight: 400;
    margin: 0px;
}
.product-atributes{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-row-gap: 40px; 
    grid-column-gap: 96px; 
    background-color: #F6F7FB;
    padding: 30px 82px 40px 19px;
    border-radius: 12px;
}
.attribute-icon-and-name{
    display: flex;
    align-items: center;
    background-color: rgba(91, 127, 72, 0.12);
    gap: 11px;
    border-radius: 4px;

}
.attribute-icon-and-name img{
    width: 2rem;
    height: 2rem;
    border-radius: 4px 0px 0px 4px;
}
.attribute-icon-and-name h3{
    margin: 0px;
    font-family: 'Lato';
    font-size: 16px;
    color: #76BA51;

}
.single-attribute p{
    font-family: 'Lato';
    color: black;
    font-size: 16px;
    font-weight: 500;
}
/*PRODUCT  INFO CSS END*/

/* PRODUCT DESC TABS CSS START*/
.tab-description-wrapper{
    padding: 65px 65px 125px 65px;
}
.tab-buttons-wrapper{

    
}
.tab-button-divider{
    padding: 1px;
    background-color: black;
    margin-top: -2px;

}
.single-tab-button{
    margin-right: 50px;
   border: none;
    background-color: white;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding: 0px 0px 6px 0px;
    cursor: pointer;
}
.button-active{
    border: solid 5px #4D7736;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.short-description p,.additional-information p{
    font-family: 'Lato';
    font-size: 18px;
    color: black;
    font-weight: 400;
    line-height: 128.5%;
    width: 66rem;
}

/* PRODUCT DESC TABS CSS END */

/* RELATED PRODUCT CSS START */
.container-related-products{
    background-color: #F5F5F5;
}
.related-product-section-underwrapper{
    padding: 55px 65px;
}
.head-and-text-related{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.head-and-text-related h2{
    font-family: 'Glegoo';
    font-size: 36px;
    color: #0E130B;
    font-weight: 400;
    margin: 0px;
}
.head-and-text-related p{
    color: #6D6D6D;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 400;
    width: 43rem;
    margin: 0px;
}
.related-single-product-card{
    padding: 8px 14px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.related-single-product-card:hover{
    box-shadow: -6px 9px 20px 0px #42464E;
    transform: translateY(-5px);
}
.related-products-wrapper{
    display: flex;
    gap: 11px;
    margin-top: 50px;
}
.related-single-product-card{
    background-color: white;
}
.related-single-product-card h2{
    font-family: 'Glegoo';
    color: #0E130B;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
    text-align: center;
}


.related-single-product-card p{
    text-align: end;
    margin: 0px;
    margin-top: 30px;
}
.related-single-product-card p a{
    font-family: 'Lato';
    font-size: 14px;
    color: #76BA51;
    font-weight: 400;
    margin: 0px;
}

/* RELATED PRODUCT CSS END */

/* RELATED MODAL CSS START */
.related-modal-wrapper{
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 9999; 
    backdrop-filter: blur(10px);
    background-color: rgba(223, 223, 223, 0.5);
}
.related-modal-underwrapper{
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.related-modal-main{
    background-color: white; 
    padding: 20px; 
    border-radius: 18px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 30rem;

}
.exit-icon{
    text-align: end;
}
.exit-icon img {
    cursor: pointer;
    width: 24px;
    height: 21px;
}
.related-modal-heading{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.related-modal-heading h3{
    margin: 0px;
    text-align: center;
    font-family: 'Glegoo';
    font-size: 18px;
    font-weight: 400;
    color: #336B15;
}
.related-modal-heading p{
    margin: 0px;
    font-family: 'Glegoo';
    font-size: 26px;
    text-align: center;
    color: #0E130B;
    font-weight: 400;
}
.single-product-form{
    margin-top: 40px;
}
.form-single-product input{
    border: none!important;
    border-bottom: 2px solid #5B9356!important;
    border-radius: 0px!important;
    margin-bottom: 0px!important;
    font-family: 'Lato'!important;
    font-weight: bold!important;
    font-size: 14px!important;
    color: #0E130B!important;
}
#field_avsnp{
    display: none!important;
}
.form-single-product textarea{
    border: none!important;
    border-bottom: 2px solid #5B9356!important;
    border-radius: 0px!important;
    font-family: 'Lato'!important;
    font-weight: bold!important;
    font-size: 14px!important;
    color: #0E130B!important;
}
.form-single-product input::placeholder,.form-single-product textarea::placeholder{
    font-family: 'Lato'!important;
    font-weight: bold!important;
    font-size: 14px!important;
    color: #0E130B!important;
}
.form-single-product label{
    display: none !important;
}
.current-page-url{
    display: none;
}
.form-buttons button{
    cursor: pointer;
}
#frm_field_36_container{
    margin-bottom: 0px!important;
}
#frm_field_35_container{
    margin-bottom: 0px!important;
}
/* RELATED MODAL CSS END */